<!DOCTYPE html>
<html>
<head>
  <title>Khemistry located in Bed-Stuy Brooklyn</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="jumbotron">
<p><h1> <font face="LabMol">
Dear Khemistry,</font>

<p><h1> <font face="LabMol">
I think I <a href="https://www.facebook.com/khemistrybk" target="blank"><img src="images/like.jpg"></a> you. A little <a href="https://twitter.com/intent/user?screen_name=khemistrybk"><img src="images/twitter.png" alt ="Follow khemistrybk" target="_blank"></a> told me that you are coming soon to Bed-Stuy! Can I be the first to know about the grand opening?
</h1></font>
<center><h2> <font face="LabMol"> 
<form method="post" name="contact_form"
action="contact-form-handler.php">
    Email Address:
    <input type="text" name="email">
    <input type="submit" value="Submit">
</form> </center> </font></h2>
</center></h1></p></h1></p></div>

  <center><h1><font face="LabMol">Bond with us we treat our friends special! 
<a href="https://www.facebook.com/khemistrybk" target="_blank"><img src="images/Facebook.png"></a> 
<a href="https://www.twitter.com/khemistrybk" target="_blank"><img src="images/Twitter2.png"></a>
<a href="https://plus.google.com/115918375096774846459/posts" target="_blank"><img src="images/Google-Plus.png"></a>
<a href="https://www.instagram.com/khemistrybk" target="_blank"><img src="images/Instagram.png"></a>
<a href="https://www.pinterest.com/khemistrybk" target="_blank"><img src="images/Pinterest.png"></a>
<a href="http://khemistrybk.tumblr.com" target="_blank"><img src="images/Tumblr.png"></a>
<a href="http://blog.khemistrybk.com" target="_blank"><img src="images/Blogger.png"></a>
</font></h1></center>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>



</body>
</html>
